.hero{
    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:50px;

    margin-bottom:30px;

    border-radius:24px;

    background:rgba(15,23,42,.55);

    backdrop-filter:blur(20px);
}

.hero-left{
    max-width:600px;
}

.hero-greeting{

    color:#00E5FF;

    letter-spacing:2px;

    margin-bottom:15px;
}

.hero h1{

    color:white;

    font-size:3rem;

    margin-bottom:20px;

    line-height:1.2;
}

.hero h1 span{

    color:#00E5FF;

    text-shadow:0 0 15px #00E5FF;
}

.hero-description{

    color:#94A3B8;

    line-height:1.8;

    margin-bottom:35px;
}

.hero-buttons{

    display:flex;

    gap:20px;
}

.primary-btn{

    padding:15px 32px;

    border:none;

    border-radius:14px;

    cursor:pointer;

    background:#00E5FF;

    color:#030712;

    font-weight:700;

    transition:.3s;
}

.primary-btn:hover{

    transform:translateY(-4px);

    box-shadow:0 0 25px #00E5FF;
}

.secondary-btn{

    padding:15px 32px;

    border-radius:14px;

    border:1px solid rgba(255,255,255,.2);

    background:transparent;

    color:white;

    cursor:pointer;

    transition:.3s;
}

.secondary-btn:hover{

    background:rgba(255,255,255,.08);
}

.hero-right{

    display:flex;

    justify-content:center;

    align-items:center;
}

.ai-orb{

    position:relative;

    width:220px;

    height:220px;
}

.core{

    position:absolute;

    inset:45px;

    border-radius:50%;

    background:
    radial-gradient(circle,#00E5FF,#3B82F6,#7C3AED);

    box-shadow:
    0 0 40px #00E5FF,
    0 0 80px #3B82F6;

    animation:pulse 3s infinite;
}

.ring{

    position:absolute;

    inset:0;

    border-radius:50%;

    border:2px solid rgba(0,229,255,.3);
}

.ring1{

    animation:rotate 12s linear infinite;
}

.ring2{

    transform:scale(.8);

    animation:rotateReverse 8s linear infinite;
}

@keyframes pulse{

    0%,100%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.08);
    }
}

@keyframes rotate{

    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }
}

@keyframes rotateReverse{

    from{
        transform:scale(.8) rotate(360deg);
    }

    to{
        transform:scale(.8) rotate(0deg);
    }
}