.menu-item {
  display: flex;
  align-items: center;
  gap: 14px;

  width: 100%;

  padding: 14px 16px;

  border-radius: 14px;

  text-decoration: none;

  color: #CBD5E1;

  transition: 0.3s;
}

.menu-item:hover {
  background: rgba(255, 255, 255, 0.06);
  color: white;
}

.menu-item.active {
  background: rgba(0, 229, 255, 0.15);
  color: #00E5FF;
}