.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 20px;

  padding: 20px 30px;
}

.search-box {
  flex: 1;

  display: flex;
  align-items: center;
  gap: 12px;

  padding: 14px 18px;

  border-radius: 18px;

  background: rgba(255,255,255,.05);

  border: 1px solid rgba(255,255,255,.08);

  color: #94A3B8;
}

.search-box input {
  flex: 1;

  background: transparent;

  border: none;

  outline: none;

  color: white;

  font-size: 15px;
}

.search-box input::placeholder {
  color: #94A3B8;
}

.topbar-actions {
  display: flex;
  align-items: center;
  gap: 14px;
}

.topbar-btn,
.profile-btn {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 12px 16px;

  border: none;

  border-radius: 16px;

  background: rgba(255,255,255,.05);

  color: white;

  cursor: pointer;

  transition: .3s;
}

.topbar-btn:hover,
.profile-btn:hover {
  background: rgba(0,229,255,.12);

  transform: translateY(-2px);
}