.lock-screen {
  position: fixed;
  inset: 0;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #030712;

  transition: opacity .8s ease,
              transform .8s ease;
}

.overlay{

    position:absolute;
    inset:0;

    background:
    radial-gradient(circle at center,
    rgba(255,255,255,.02),
    rgba(0,0,0,.45));

    backdrop-filter: blur(4px);
}

.lock-content{

    position:relative;
    z-index:2;

    text-align:center;

    display:flex;
    flex-direction:column;

    align-items:center;

    gap:18px;

    padding:30px;
}

.logo-section h2{

    color:white;

    font-size:2rem;

    letter-spacing:10px;

    margin-top:18px;
}

.logo-section p{

    color:#9CA3AF;

    letter-spacing:2px;

    margin-top:8px;

    font-size:.95rem;
}

.logo-orb{

    width:90px;
    height:90px;

    border-radius:50%;

    background:
    radial-gradient(circle,
    #00E5FF,
    #3B82F6,
    #7C3AED);

    box-shadow:
    0 0 30px #00E5FF,
    0 0 60px #3B82F6,
    0 0 120px #7C3AED;

    animation:
    pulseOrb 3s ease-in-out infinite,
    rotateOrb 10s linear infinite;
}

.unlocking{

    opacity:0;

    transform:scale(1.08);
}

@keyframes pulseOrb{

    0%,100%{

        transform:scale(1);
    }

    50%{

        transform:scale(1.12);
    }

}

@keyframes rotateOrb{

    from{

        filter:hue-rotate(0deg);
    }

    to{

        filter:hue-rotate(360deg);
    }

}